In [48]:
#11.1
import zoo

zoo.hours()

#print(hours)

Open 9-5 daily

In [1]:
#11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [1]:
#16.4
import sqlite3
conn = sqlite3.connect('books.db')
curs=conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(20) PRIMARY KEY,
    author VARCHAR(20),
    year INT)''')

ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
curs.execute(ins, ('Harry Potter', 'JK', 2000))
curs.execute(ins, ('Winie The Pooh', 'Tiger', 1995))
curs.execute(ins, ('Percy Jack', 'Zeus', 2005))
curs.execute('SELECT title FROM books')
rows = curs.fetchall()
print(rows)

[('Harry Potter',), ('Percy Jack',), ('Winie The Pooh',)]

In [5]:
#16.8
import sqlalchemy as db
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, select, inspect, text



engine = db.create_engine('sqlite:///books.db')
conn=engine.connect()

results=conn.execute('SELECT title FROM books')


for rows in results:
    print(rows)